@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

/* Turning off the prefers-color-scheme mode
 * https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --default-font-family: "Open Sans";
    --spacing-form: 0.75rem;
}

html, body, #app {
    @apply size-full;
}

body:has(dialog[open]),
body:has(.loading-mask) {
    #app {
        @apply blur-xs pointer-events-none;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Set default border color */
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-500, currentColor);
    }
}